
body {
    color: black;
    background: white;
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: monospace;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a {
    color: black;
    text-decoration: underline dotted;
}
a:hover {
    text-decoration: underline;
}
